openapi: 3.2.0
info:
  title: Workitem Service DTMF API
  version: 1.0.0
  description: API for managing and retrieving Workitem data and controlling call/interaction states.
servers:
- url: https://api.nextiva.com
  description: Nextiva API Base URL
security:
- bearerAuth: []
tags:
- name: DTMF
  description: DTMF tone sending for calls
paths:
  /users/api/calls/{workitemId}/dtmf/{digit}:
    post:
      summary: Sends DTMF tones during a call
      operationId: sendDtmfTones
      tags:
      - DTMF
      description: 'Sends Dual-Tone Multi-Frequency (DTMF) tones during an active call associated with a workitem. This can be used for interacting with IVR systems or entering digits.

        '
      parameters:
      - in: path
        name: workitemId
        schema:
          type: string
        required: true
        description: Unique identifier of the workitem (call) to send DTMF tones to.
      - in: path
        name: digit
        schema:
          type: string
        required: true
        description: The DTMF digit(s) to send.
      responses:
        '200':
          description: DTMF tones sent successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workitem'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Workitem:
      type: object
      properties:
        _id:
          type: string
          description: Internal unique identifier (MongoDB ID).
        workitemId:
          type: string
          description: Public unique identifier for the workitem.
        state:
          type: string
          description: Current state of the workitem (e.g., active, hold, inqueue).
        channelType:
          type: string
          description: The communication channel (e.g., voice, chat, email).
        type:
          type: string
          description: The specific type of workitem (e.g., InboundCall, OutboundSMS).
        priority:
          type: integer
          description: Priority of the workitem (1-5).
        agentUsername:
          type: string
          description: Username of the assigned agent.
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp (ms) when created.
        modifiedAt:
          type: integer
          format: int64
          description: Unix timestamp (ms) when last modified.
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
