openapi: 3.2.0
info:
  title: Nextiva Workitems API
  version: 1.0.0
  description: 'Operations tagged Workitems across 2 of this provider''s published API definitions: nextiva-conversation-openapi.yml, nextiva-workitem-service-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.nextiva.com
  description: Nextiva API Base URL
security:
- bearerAuth: []
tags:
- name: Workitems
paths:
  /analytics/api/types/conversation/{conversationId}/workitems/{workitemId}/transcriptions-and-recordings:
    get:
      summary: Fetch transcriptions and recordings for a specific workitem within a conversation
      operationId: fetchTranscriptionsAndRecordings
      tags:
      - Workitems
      description: 'Fetches transcriptions and recordings associated with a specific workitem within a conversation. This endpoint provides detailed media data for a workitem, useful for call analysis and quality assurance.

        '
      parameters:
      - in: path
        name: conversationId
        schema:
          type: string
        required: true
        description: Unique identifier of the conversation.
      - in: path
        name: workitemId
        schema:
          type: string
        required: true
        description: Unique identifier of the workitem.
      - in: query
        name: createdAt
        schema:
          type: integer
          format: int64
        description: Creation timestamp of the workitem.
      responses:
        '200':
          description: Transcriptions and recordings data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptionsAndRecordingsResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.nextiva.com
      description: Nextiva API Base URL
  /data/api/types/workitem:
    get:
      summary: Fetch all workitems
      operationId: fetchWorkitems
      tags:
      - Workitems
      description: 'Fetch all workitems. This endpoint retrieves a paginated list of workitems, allowing filtering by query string, rows, start index, and additional query parameters.

        '
      parameters:
      - in: query
        name: q
        schema:
          type: string
        description: Query string for filtering workitems.
      - in: query
        name: rows
        schema:
          type: integer
          format: int32
          default: 100
        description: Number of items per page.
      - in: query
        name: start
        schema:
          type: integer
          format: int32
          default: 0
        description: Pagination starting index.
      - in: query
        name: queryParams
        schema:
          type: object
          additionalProperties: true
        description: Additional query parameters for filtering.
      responses:
        '200':
          description: A paginated list of workitems.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchWorkitemsResponseBody'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.nextiva.com
      description: Nextiva API Base URL
  /users/api/workitems/{id}:
    get:
      summary: Fetch a specific workitem by ID
      operationId: fetchWorkitemById
      tags:
      - Workitems
      description: 'Fetch a specific workitem by ID. This endpoint retrieves a single workitem by its unique identifier.

        '
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
        description: Unique identifier of the workitem.
      responses:
        '200':
          description: The requested workitem object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workitem'
        '404':
          description: Workitem not found.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.nextiva.com
      description: Nextiva API Base URL
  /workflows/api/workitems/{workitemId}/acd:
    post:
      summary: Change the priority of a workitem
      operationId: changeWorkitemPriority
      tags:
      - Workitems
      description: 'Changes the priority of a workitem. This endpoint updates the priority of a specific workitem within the ACD system.

        '
      parameters:
      - in: path
        name: workitemId
        schema:
          type: string
        required: true
        description: Unique identifier of the workitem.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - priority
              properties:
                priority:
                  $ref: '#/components/schemas/WorkItemPriority'
      responses:
        '200':
          description: Workitem priority successfully changed.
          content:
            application/json:
              schema:
                type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.nextiva.com
      description: Nextiva API Base URL
components:
  schemas:
    PaginatedResponse:
      type: object
      properties:
        count:
          type: integer
          format: int32
          description: Number of objects in the current page.
        total:
          type: integer
          format: int32
          description: Total number of objects matching the criteria.
        objects:
          type: array
          items:
            type: object
          description: Array of objects.
    Message:
      type: object
      properties:
        messageId:
          type: string
          description: Unique identifier for the message.
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    ConversationCallRecordingData:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
    TranscriptionsAndRecordingsResponse:
      allOf:
      - $ref: '#/components/schemas/PaginatedResponse'
      - type: object
        properties:
          objects:
            type: array
            items:
              type: object
              properties:
                callRecordingData:
                  type: array
                  items:
                    $ref: '#/components/schemas/ConversationCallRecordingData'
                summary:
                  type: string
                transcriptionMessages:
                  type: array
                  items:
                    $ref: '#/components/schemas/Message'
                voicemailTranscript:
                  type: string
                workitemId:
                  type: string
    FetchWorkitemsResponseBody:
      allOf:
      - $ref: '#/components/schemas/PaginatedResponse_2'
      - type: object
        properties:
          objects:
            type: array
            items:
              $ref: '#/components/schemas/Workitem'
    PaginatedResponse_2:
      type: object
      properties:
        count:
          type: integer
          format: int32
          description: Number of objects in the current page.
        total:
          type: integer
          format: int32
          description: Total number of objects matching the criteria.
        objects:
          type: array
          items:
            $ref: '#/components/schemas/Workitem'
          description: Array of workitem objects.
    WorkItemPriority:
      type: integer
      format: int32
      description: Priority level of a workitem (1-5, 5 being highest).
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    Workitem:
      type: object
      properties:
        _id:
          type: string
          description: Internal unique identifier (MongoDB ID).
        workitemId:
          type: string
          description: Public unique identifier for the workitem.
        state:
          type: string
          description: Current state of the workitem (e.g., active, hold, inqueue).
        channelType:
          type: string
          description: The communication channel (e.g., voice, chat, email).
        type:
          type: string
          description: The specific type of workitem (e.g., InboundCall, OutboundSMS).
        priority:
          type: integer
          description: Priority of the workitem (1-5).
        agentUsername:
          type: string
          description: Username of the assigned agent.
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp (ms) when created.
        modifiedAt:
          type: integer
          format: int64
          description: Unix timestamp (ms) when last modified.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- nextiva-conversation-openapi.yml
- nextiva-workitem-service-openapi.yml
