openapi: 3.2.0
info:
  title: Workitem Service Transfers API
  version: 1.0.0
  description: API for managing and retrieving Workitem data and controlling call/interaction states.
servers:
- url: https://api.nextiva.com
  description: Nextiva API Base URL
security:
- bearerAuth: []
tags:
- name: Transfers
  description: Operations for transferring workitems
paths:
  /users/api/calls/{workitemId}/usertransfer/{userId}:
    post:
      summary: Transfers a workitem to another agent
      operationId: transferWorkitemToAgent
      tags:
      - Transfers
      description: 'Transfers a workitem (e.g., an active call) to another specified agent. This allows for routing work to the appropriate personnel.

        '
      parameters:
      - in: path
        name: workitemId
        schema:
          type: string
        required: true
        description: Unique identifier of the workitem to transfer.
      - in: path
        name: userId
        schema:
          type: string
        required: true
        description: Unique identifier of the target agent.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferToAgentPayload'
      responses:
        '200':
          description: Workitem successfully transferred to agent.
          content:
            application/json:
              schema:
                type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/api/calls/{workitemId}/queuetransfer/{inboxId}:
    post:
      summary: Transfers a workitem to an inbox/queue
      operationId: transferWorkitemToInbox
      tags:
      - Transfers
      description: 'Transfers a workitem (e.g., an active call or message) to a specified inbox or queue. This is used for routing work to a group of agents or a specific processing queue.

        '
      parameters:
      - in: path
        name: workitemId
        schema:
          type: string
        required: true
        description: Unique identifier of the workitem to transfer.
      - in: path
        name: inboxId
        schema:
          type: string
        required: true
        description: Unique identifier of the target inbox/queue.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferToInboxPayload'
      responses:
        '200':
          description: Workitem successfully transferred to inbox/queue.
          content:
            application/json:
              schema:
                type: object
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    TransferToInboxPayload:
      type: object
      required:
      - inboxId
      - workitemId
      properties:
        eventName:
          type: string
          description: Name given to the transfer event.
        inboxId:
          type: string
          description: The ID of the target inbox/queue.
        recording:
          $ref: '#/components/schemas/WorkitemRecordingOption'
        ringAll:
          type: boolean
          description: Whether to ring all agents in the inbox.
        survey:
          type: object
          description: Survey data.
        workitemId:
          type: string
          description: The ID of the workitem to transfer.
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    TransferToAgentPayload:
      type: object
      required:
      - userId
      - workitemId
      properties:
        eventName:
          type: string
          description: Name given to the transfer event.
        recording:
          $ref: '#/components/schemas/WorkitemRecordingOption'
        survey:
          type: object
          description: Survey data.
        userId:
          type: string
          description: The ID of the user (agent) to transfer the workitem to.
        workitemId:
          type: string
          description: The ID of the workitem to transfer.
    WorkitemRecordingOption:
      type: string
      enum:
      - keepCurrent
      - startRecording
      - stopRecording
      description: Recording options for transfers.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
